<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.crazyball">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CrazyBall">

        <activity android:name=".view.LevelResultActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Transparent" />

        <activity android:name=".view.PauseLevelActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Transparent" />

        <activity
            android:name=".view.LevelSelector"
            android:screenOrientation="landscape"
            android:label="@string/title_activity_level_selector">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.FullscreenActivity"
            android:screenOrientation="landscape"
            android:configChanges="screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.CrazyBall.Fullscreen" />
    </application>

</manifest>